# Global compiled file
*.pyc

# Auto generated conf
egs/**/conf/*
!egs/**/conf/dnn
!egs/**/conf/logging_config.conf

# Running part
experiments/
*data*

# Tools
SPTK*
build/
bin/
tools/bin
tools/festvox
tools/festival
tools/htk
tools/postfilter
tools/REAPER
tools/speech_tools

# VCTK-Corpus
egs/speaker_adaptation/s1/VCTK-Corpus
